table td {
	vertical-align: middle;
}

input {
	width:90%;
}

.edit_btn {
	width: 20px;
	height: 20px;
	padding: 0;
	font-size: 75%;
}

#cancel_btn {
	color: #337ab7;
    text-decoration: underline;
}

#add_account, #add_update {
	color: #337ab7;
	text-decoration:underline;
	margin-left:8px;
}

.add_new, .edit_task {
	display: none;
}