table td {
	vertical-align: middle;
}

input {
	width:90%;
}

a {
	text-decoration: underline;
}

header {
	width: 100%;
	background-color: #000;
	color: #ddd;
	padding: 8px;
}

.header_links {
	padding: 0 10px;
}

.flash_message {
	width: 90%;
	margin: 0 auto;
	color: #fff;
	background-color: #337ab7;
	border-radius: 0 0 8px 8px;
	text-align: center;
	padding: 5px;
}

.no-margin {
	margin:0;
}

.edit_btn, .delete_btn, .edit_acct, .delete_acct {
	height: 20px;
	padding: 3px;
	font-size: 75%;
}

.cancel_btn {
	color: #337ab7;
    text-decoration: underline;
}

#add_update {
	color: #337ab7;
	text-decoration:underline;
	margin-right:18px;
}

.add_new, .edit_task, .edit_account {
	display: none;
}

#logout a{
	color: #ddd;
	text-decoration: none;
	display: inline-block;
}

.return {
	margin-top: 5em;
	padding-top: 1.5em;
	border-top: 1px solid #333;
	text-align: center;
}